body {
  background-color: rgba(247, 245, 231, 0.7);
}

a.nav-link {
  font-size: 16px;
}

.container h1 {
  text-align: center;
  font-family: Bitter, 'Arial', sans-serif;
}

.intro {
  font-size: 20px !important; 
  font-family: Roboto, 'Arial', sans-serif;
  text-align: center;
}
/* h1{
  font-family: arial;
  font-size: 16px;
	width:30%;
	margin-left:35%;
	margin-top:5%;
	margin-bottom:0px;
	color:#b7b7b7;
} */

/* h2{
  font-family: arial;
  font-size: 13px;
	width:80%;
	margin-left:10%;
	color:#b7b7b7;
} */

body {
  overflow-x: hidden;
  overflow-y: auto;
}

svg {
  fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;
}

path:hover {
  stroke: #bb0068 !important;
  stroke-width:8px  !important;;
  cursor: pointer;
}

#info-box {
  display: none;
  position: absolute;
  top: 30000px;
  left:30000px;
  z-index: 1;
  background-color: #fffff0;
  border: 1px solid #BF0A30;
  border-radius: 5px;
  padding: 15px;
  font-family: arial;
  font-size: 18px;
  color:black;
  max-height: 750px;
}

#info-box2 {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 60%;
  z-index: 1;
  background-color: #fffff0;
  border: 3px solid #AFF0f0;
  border-radius: 5px;
  padding: 15px;
  font-family: arial;
  font-size: 18px;
  color:green;
  max-height: 250px;
  overflow: auto;
}

.region {
  font-size:18px;
  text-decoration: underline; /* text souligné */
  font-weight: bold;  /* caractère gras */
}

.infos, .infos-regions {
	display: none;
}

ul {
  list-style-type: circle; /* type de liste cercle creux */
}

ul, li {
	margin : 0px;
	margin-left:5px;
  padding : 0px;
  text-indent: 20px; /* Alinéa */
}

.compagnie {
	font-style: italic;
	font-weight: bold;
	color:#B20000;
}


#belgique {
  fill:rgb(255,223,147);
  stroke:black;
  stroke-width:1px;
}

#nord {
  fill:rgb(232,227,216);
  stroke:black;
  stroke-width:1px;
}

#est {
  fill:rgb(234,229,124);
  stroke:black;
  stroke-width:1px;
}

#ile-de-france {
  fill:rgb(88,214,224);
  stroke:black;
  stroke-width:1px;
}

#normandie {
  fill:rgb(234,181,139);
  stroke:black;
  stroke-width:1px;
}

#bretagne {
  fill:rgb(213,237,234);stroke:black;stroke-width:1px;
}

#pays-de-loire {
  fill:rgb(120,177,114);stroke:black;stroke-width:1px;
}

#centre {
  fill:rgb(167,172,255);stroke:black;stroke-width:1px;
}

#bourgogne {
  fill:rgb(207,152,107);stroke:black;stroke-width:1px;
}

#auvergne {
  fill:rgb(235,201,190);stroke:black;stroke-width:1px;
}

#provence {
  fill:rgb(255,227,193);stroke:black;stroke-width:1px;
}

#aquitaine {
  fill:rgb(218,207,192);stroke:black;stroke-width:1px;
}

#occitanie {
  fill:rgb(184,214,202);stroke:black;stroke-width:1px;
}

.villes {
  fill:rgb(251,96,34);
  stroke:black;
  stroke-width:0.95px;
}

.nom_ville {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-size: 34px;
}

#regionSelect {
  width: 100%;
}

@media (min-width: 1040px) {
  .navbar-nav, .nav-item {
    text-indent: unset;
  }
}

/* @media (max-width:760px) {
  .titre {
    margin-top: 10% !important;
  }
} */
@media (min-width: 768px) {
    .container, .container-sm, .container-md {
        max-width: 720px;
        margin-top: 6%;
    }

    .nom_ville {
      font-size: 40px;
    }
}